@{
    ViewBag.Title = "Teste";
}

<div class="jumbotron">
    <h1>Teste</h1>
</div>

<div class="row">
    <ul class="ei-slider-large">
        @foreach (var slide in (IEnumerable<XamStore.Domain.Entities.Cadastro.Pessoa>)ViewBag.Pessoa)
        {
            <li>
                <h4>@slide.Nome - @slide.Sobrenome</h4>
                <div class="ei-title">
                    <h6 class="btn">@($"{slide.Email}")</h6>
                    <h5>@slide.Nome</h5>
                    <h5>@slide.Sobrenome</h5>
                </div>
            </li>
        }
    </ul>
</div>