@model IEnumerable<XamStore.Domain.Entities.Cadastro.ProdutoEstoque>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("MenuAdmin");
<div class="content-right">
    <h2>Gerenciamento do Estoque</h2>
    <table class="table table-hover table-responsive">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.ActionLink("Editar", null, $"Estoque/Editar/{item.Id}")
                </td>
            </tr>
        }
    </table>
</div>
