@{
    var pedido = ViewBag.Pedido as XamStore.Domain.Entities.Operacao.Pedido;
    var pedidoItens = ViewBag.PedidoItens as ICollection<XamStore.Domain.Entities.Operacao.PedidoItem>;
}
<!-- start top_bg -->
<div class="top_bg">
    <div class="wrap">
        <div class="main_top">
            <h2 class="style">Finalizar Compra</h2>
        </div>
    </div>
</div>
<!-- start main -->
<script src="../../Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../../Scripts/carrinho.js"></script>
<div class="main_bg">
    <div class="wrap">
        <div class="main">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Produtos</div>
                <!-- List group -->
                <ul class="list-group">
                    @{
                        var i = 0;
                        var totalGeral = pedido.Valor + pedido.Frete;
                        foreach (var peditoI in pedidoItens)
                        {
                            <li class="list-group-item" id="@peditoI.Produto.Id" style="@if (i % 2 == 0) {@Html.Raw("background:#f8f8f8;")}">
                                <div class="carrinho-produto-imagem" style="float:left;"><img src="~/Imagens/Produto/@peditoI.Produto.ProdutoImagens.FirstOrDefault()?.Imagem.Nome" width="80" height="80" style="border-radius:50%;padding:3px; border:1px solid #ccc;" /></div>
                                <div class="carrinho-produto-descricao" style="float:left;margin-left:10%;width:20%;margin-top:30px;">@peditoI.Produto.Descricao</div>
                                <div class="carrinho-produto-quatidade" style="float:left;margin-left:10%;margin-top:30px;">Quantidade @peditoI.Quantidade</div>
                                <div style="clear:both"></div>
                            </li>
                            i++;
                        }
                        <li class="list-group-item" style="text-align:left">Frete: @($"{pedido.Frete:C}")</li>
                        <li class="list-group-item" style="text-align:left">Valor: @($"{pedido.Valor:C}")</li>
                        <li class="list-group-item" style="text-align:left">Total: @($"{totalGeral:C}")</li>
                    }
                </ul>
            </div>

            @Html.ActionLink("Finalizar e pagar com PagSeguro", "FinalizarCompra", "Carrinho", new { pedidoId = pedido.Id }, new { @class = "btn btn-primary" })

            <div style="clear:both"></div>
        </div>
    </div>
</div>
