@model XamStore.Domain.Entities.Cadastro.Jogo

@{
    ViewBag.Title = "Cadastro de Jogos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@Html.Partial("MenuAdmin");
<div class="content-right">
    <h2>Editar Jogos</h2>
    <hr />
    @using (Html.BeginForm("Editar", "JogoAdmin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true)

            @Html.Hidden("Id", Model.Id)
            <div class="panel panel-default">
                <div class="panel-heading">Dados principais</div>
                <div style="padding:20px;">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nome, new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Nome)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Multiplayer, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Multiplayer, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Multiplayer)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Jogadores, new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Jogadores, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Jogadores)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Classificacao, "Classificação", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Classificacao, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Classificacao)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IdPlataforma, "Plataforma", new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.DropDownList("IdPlataforma", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdPlataforma)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IdGenero, "Genero", new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.DropDownList("IdGenero", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdGenero)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IdConsole, "Console", new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.DropDownList("IdConsole", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdConsole)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IdFabricante, "Fabricante", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("IdFabricante", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdFabricante)
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Editar" class="btn btn-default" style="float:right" />
                </div>
            </div>
        </div>
    }
</div>
<div style="clear:both"></div>
<div>
    @Html.ActionLink("Voltar para Lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(function () {
        var i = 1;
        $('.add').click(function (e) {

            $(".imagens").append("<input type=\"file\" name=\"images[" + i + "]\" /><br />");
            $(".imagens").append("<img");
            i++;
            return false;
        });
    });
</script>
<script src="~/Scripts/jquery.maskMoney.js" type="text/javascript"></script>
<script type="text/javascript">

    $(function () {
        $("#PesoString").maskMoney({ thousands: '', decimal: '.', allowZero: true, precision : 1 });
        $("#AlturaString").maskMoney({ thousands: '', decimal: '.', affixesStay: true, precision : 1});
        $("#LarguraString").maskMoney({ thousands: '', decimal: '.', affixesStay: true, precision: 1 });
        $("#EspessuraString").maskMoney({ thousands: '', decimal: '.', affixesStay: true, precision: 1 });
        $("#PrecoString").maskMoney({ thousands: ',', decimal: '.', affixesStay: true });

        $("#PesoString").focus();
        $("#AlturaString").focus();
        $("#LarguraString").focus();
        $("#EspessuraString").focus();
        $("#PrecoString").focus();

        $("#PrecoString").focus();

    })
</script>