@model IEnumerable<XamStore.Domain.Entities.Cadastro.Usuario>

@{
    ViewBag.Title = "Cadastro de usuário";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@Html.Partial("MenuAdmin");
<div class="content-right">
    <h2>Cadastro de usuário</h2>

    <p> @Html.ActionLink("Novo usuário", "Cadastrar") </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioNivel.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioNivel.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.Id }, new { @class = "btn btn-default btn-sm" })
                    @{
                        if (item.UsuarioNivel.Id != 1)
                        {
                            @Html.Raw("|")
                            @Html.ActionLink("Deletar", "Deletar", "Usuario", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                        }
                    }
                </td>
            </tr>
          }
    </table>
</div>