@model XamStore.Domain.Entities.Cadastro.Fabricante
@{
    ViewBag.Title = "Deletar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@Html.Partial("MenuAdmin");

<div class="content-right">
    <h2>Cadastro de fabricante</h2>
    <hr />
    <h4>Deseja deletar este fabricante?</h4>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.Sobre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.Sobre)
            </dd>
            @{
                var jogos = ViewBag.Jogos;
                if (jogos.Count > 0)
                {
                    <div style="color:#ff0000">
                        No momento, você não pode deletar este fabricante, pois existem jogos vinculados a ele.<br />
                        Para poder deletar é necessário Remover os seguintes jogos:<br /><br />
                        @foreach (var jogo in jogos)
                        {
                            <div style="color:#000000">@jogo.Id - @jogo.Nome</div>
                        }
                    </div>
                }
            }
        </dl>
        @using (Html.BeginForm("Deletar", "Fabricante"))
        {
            @Html.HiddenFor(x => x.Id)
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Deletar" class="btn btn-default @if (jogos.Count > 0) { @Html.Raw("disabled"); }" style="float:right" />
            </div>
            <br />
            @Html.ActionLink("Voltar", "Index")
        }
    </div>
</div>