@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model XamStore.Domain.Entities.Cadastro.Endereco
<link type="text/css" rel="stylesheet" href="~/Content/layoutAdmin.css" />
<script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/Scripts/comboDinamico.js"></script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")


<!-- start top_bg -->
<div class="top_bg">
    <div class="wrap">
        <div class="main_top">
            <h4 class="style" style="color: white;">Meus Dados</h4>
        </div>
    </div>
</div>
<div class="main_bg">
    <div class="wrap">
        <div class="main">
            <div style="width:20%;float:left;margin-left:1.1%">
                @Html.Partial("MenuPessoa");
            </div>

            <div style="width:38%;float:left;margin-left:1%;">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Novo Endereço</div>
                    <script src="/Scripts/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            jQuery(function($) {
                                $('#Cep').mask('99999-999');
                            });
                            $(function() {
                                $("#Cep").blur(function() {
                                    var cep = $(this).val().replace(/[^0-9]/, '');
                                    if (cep !== "") {
                                        var url = 'http://cep.correiocontrol.com.br/' + cep + '.json';
                                        $.getJSON(url, function(json) {
                                            $("#Logradouro").val(json.logradouro);
                                            $("#Bairro").val(json.bairro);
                                        });
                                    }
                                });
                            });
                        });
                    </script>
                    @using (@Html.BeginForm("CadastrarEndereco", "Pessoa", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="registration_form" style="padding:15px;">
                            @Html.ValidationSummary(true)
                            <div>
                                <label>CEP: </label><br/>
                                <label>
                                    @Html.TextBoxFor(model => model.Cep, new {placeholder = "Cep", @class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.Cep)
                                </label>
                            </div>
                            <div>
                                <label>Logradouro: </label><br />
                                <label>
                                    @Html.TextBoxFor(model => model.Logradouro, new {placeholder = "Logradouro", @class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.Logradouro)
                                </label>
                            </div>
                            <div>
                                <label>Complemento: </label><br />
                                <label>
                                    @Html.TextBoxFor(model => model.Complemento, new {placeholder = "Complemento", @class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.Complemento)
                                </label>
                            </div>
                            <div>
                                <label>Número: </label><br />
                                <label>
                                    @Html.TextBoxFor(model => model.Numero, new {placeholder = "Nº", @class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.Numero)
                                </label>
                            </div>
                            <div>
                                <label>Bairro: </label><br />
                                <label>
                                    @Html.TextBoxFor(model => model.Bairro, new {placeholder = "Bairro", @class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.Bairro)
                                </label>
                            </div>

                            <div>
                                <label>Estado: </label><br />
                                <label>
                                    @Html.DropDownList("IdEstado", ViewBag.IdEstado as SelectList, null, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.Cidade.IdEstado)
                                </label>
                            </div>
                            <div>
                                <label>Cidade: </label><br />
                                <label>
                                    @Html.TextBoxFor(model => model.Cidade.Nome, new {placeholder = "Cidade", @class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.Cidade.Nome)
                                </label>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Cadastrar" class="btn btn-default" style="float:right" />
                                    <div style="clear:both"></div>
                                </div>
                            </div>
                        </div>
                    }
                    <div style="clear:both"></div>
                </div>
            </div>
            <div style="width:38%;float:left;margin-left:1%">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Endereços Cadastrados</div>
                    <!-- List group -->
                    <ul class="list-group">
                        @{
                            var enderecos = ViewBag.Enderecos as ICollection<XamStore.Domain.Entities.Cadastro.Endereco>;
                        }
                        <table class="table table-hover table-responsive">
                            <tr>
                                <th style="background:#f4f4f4;">
                                    #
                                </th>
                                <th style="background:#f4f4f4;">
                                    Endereço
                                </th>
                                <th id="Cep" style="background:#f4f4f4;">
                                    Cep
                                </th>
                                <th style="background: #f4f4f4;">
                                    Cidade
                                </th>
                                <th style="background:#f4f4f4;">
                                    Ações
                                </th>
                            </tr>

                            @{
                                if (enderecos != null)
                                {
                                    foreach (var endereco in enderecos)
                                    {
                                        <tr>
                                            <td>@endereco.Id</td>
                                            <td>@endereco.Logradouro</td>
                                            <td id="Cep">@endereco.Cep</td>
                                            <td>@endereco.Cidade.Nome</td>
                                            <td>@Html.ActionLink("Excluir", "ExcluirEndereco", "Pessoa", new { id = endereco.Id }, new {@class="btn btn-default btn-xs"})</td>
                                        </tr>
                                    }
                                }
                            }
                        </table>
                    </ul>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
</div>