@{ var produto = (XamStore.Domain.Entities.Cadastro.Produto)ViewBag.Produto;}
<!-- start top_bg -->
<div class="top_bg">
    <div class="wrap">
        <div class="main_top">
            <h2 class="style"></h2>
        </div>
    </div>
</div>
<!-- start main -->
<div class="main_bg">
    <div class="wrap">
        <div class="main" style="height:auto">
            <!-- start content -->
            <div class="single" style="">
                <!-- start span1_of_1 -->
                <div class="left_content">
                    <div class="span1_of_1">
                        <!-- start product_slider -->
                        <div class="product-view">
                            <div class="product-essential">
                                <div class="product-img-box">
                                    <div class="more-views">
                                        <div class="more-views-container">
                                            <ul>
                                                <li>
                                                    <a class="cs-fancybox-thumbs" data-fancybox-group="thumb" href="" title="" alt="">
                                                        <img src="" src_main="" title="" alt="" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="cs-fancybox-thumbs" data-fancybox-group="thumb" href="" title="" alt="">
                                                        <img src="" src_main="" title="" alt="" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="cs-fancybox-thumbs" data-fancybox-group="thumb" href="" title="" alt="">
                                                        <img src="" src_main="" title="" alt="" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="cs-fancybox-thumbs" data-fancybox-group="thumb" href="" title="" alt="">
                                                        <img src="" src_main="" title="" alt="" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="cs-fancybox-thumbs" data-fancybox-group="thumb" href="" title="" alt="">
                                                        <img src="" src_main="" title="" alt="" />
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <script src="../../Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
                                    <link rel="stylesheet" type="text/css" href="../../Content/productviewgallery.css" media="all" />
                                    <script type="text/javascript" src="../../Scripts/cloud-zoom.1.0.3.min.js"></script>
                                    <script type="text/javascript" src="../../Scripts/jquery.fancybox.pack.js"></script>
                                    <script type="text/javascript" src="../../Scripts/productviewgallery.js"></script>
                                    <script type="text/javascript" src="../../Scripts/carrinho.js"></script>
                                    <div class="product-image">
                                        <a class="cs-fancybox-thumbs cloud-zoom" rel="adjustX:30,adjustY:0,position:'right',tint:'#202020',tintOpacity:0.5,smoothMove:2,showTitle:true,titleOpacity:0.5" data-fancybox-group="thumb" href="~/Imagens/Produto/@produto.ProdutoImagens.FirstOrDefault()" title="Women Shorts" alt="Women Shorts">
                                            <img src="~/Imagens/Produto/@produto.ProdutoImagens.FirstOrDefault()" />
                                        </a>
                                    </div>

                                    <script type="text/javascript">
                                        @{ string imagens = ViewBag.Imagens;
                                            var nova = System.Net.WebUtility.HtmlDecode(imagens); ;
                                        }

                                        var prodGallery = jQblvg.parseJSON('@Html.Raw(nova)'),
                                            gallery_elmnt = jQblvg('.product-img-box'),
                                            galleryObj = new Object(),
                                            gallery_conf = new Object();
                                        gallery_conf.moreviewitem = '<a class="cs-fancybox-thumbs" data-fancybox-group="thumb"  href=""  title="" alt=""><img src="" src_main="" title="" alt="" /></a>';
                                        gallery_conf.animspeed = 200;
                                        jQblvg(document).ready(function () {
                                            galleryObj[1] = new prodViewGalleryForm(prodGallery, 'prod_1', gallery_elmnt, gallery_conf, '.product-image', '.more-views', 'http:');
                                            jQblvg('.product-image .cs-fancybox-thumbs').absoluteClick();
                                            jQblvg('.cs-fancybox-thumbs').fancybox({
                                                prevEffect: 'none',
                                                nextEffect: 'none',
                                                closeBtn: true,
                                                arrows: true,
                                                nextClick: true,
                                                helpers: {
                                                    thumbs: {
                                                        position: 'bottom'
                                                    }
                                                }
                                            });
                                            jQblvg('#wrap').css('z-index', '100');
                                            jQblvg('.more-views-container').elScroll({ type: 'vertical', elqty: 4, btn_pos: 'border', scroll_speed: 400 });

                                        });

                                        function initGallery(a, b, element) {
                                            galleryObj[a] = new prodViewGalleryForm(prods, b, gallery_elmnt, gallery_conf, '.product-image', '.more-views', '');
                                        };
                                    </script>
                                </div>
                            </div>
                        </div>
                        <!-- end product_slider -->
                    </div>
                    <!-- start span1_of_1 -->
                    <div class="span1_of_1_des">
                        <div class="desc1">
                            <h3>@produto.Nome</h3>
                            <h5>@($"{produto.Preco:C}")</h5>
                            <div class="available">
                                @{
                                    var carrinho = Session["Carrinho"] as XamStore.Domain.Entities.Sistema.SessionCarrinho;
                                    XamStore.Domain.Entities.Sistema.ProdutoCarrinho produtoCarrinho = null;

                                    if (carrinho != null)
                                    {
                                        produtoCarrinho = carrinho.ProdutosCarrinho.FirstOrDefault(x => x.Produto.Id == produto.Id);
                                    }
                                }
                                @(produtoCarrinho == null ? Ajax.ActionLink("Adicionar ao carrinho", "Add", "Carrinho", new {id = produto.Id}, new AjaxOptions {HttpMethod = "Post", OnSuccess = "addSuccess"}) : Ajax.ActionLink("Remover do carrinho", "Remove", "Carrinho", new {id = produto.Id}, new AjaxOptions {HttpMethod = "Post", OnSuccess = "addSuccess"}))

                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <!-- start left content_bottom -->
                    <div class="left_content_btm">
                        <!-- start tabs -->
                        <section class="tabs" style="min-height:2000px;height:auto">
                            <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked">
                            <label for="tab-1" class="tab-label-1">Descrição</label>
                            <!-- <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2">
                             <label for="tab-2" class="tab-label-2">Técnica</label>

                             <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3">
                             <label for="tab-3" class="tab-label-3">semiconductor</label>-->
                            <div class="clear-shadow"></div>
                            <div class="content">
                                <div class="content-1" style="margin-left:15px;height:auto;position:inherit">
                                    <p class="para top" style="font-size:20px;color:#ccc;"><span>Especificações técnicas</span></p>

                                    <table width="100%" border="0" style="border-bottom:1px solid #f4f4f4;">
                                        <tbody>
                                            <tr>
                                                <td style="background:#f4f4f4;padding:20px;border-right:1px solid #ccc;">Peso</td>
                                                <td style="background:#f4f4f4;padding:20px">@produto.Peso g</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br /><br /><br />

                                    <br /><br /><br />
                                    <p class="para top" style="font-size:20px;color:#ccc;"><span>Câmeras</span></p>

                                    <br /><br /><br />
                                    <p class="para top" style="font-size:20px;color:#ccc;"><span>Acessórios</span></p>
                                </div>
                            </div>
                        </section>
                        <!-- end tabs -->
                    </div>
                    <!-- end left content_bottom -->
                </div>
                <!-- start left_sidebar -->

                <div class="clear"></div>
            </div>
            <!-- end content -->
        </div>
    </div>
</div>
