@model XamStore.Domain.Entities.Cadastro.Plataforma

@{
    ViewBag.Title = "Cadastro de Plataforma";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@Html.Partial("MenuAdmin");
<div class="content-right">
    <h2>Cadastro de Plataforma</h2>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Nome, new { @class="form-control"})
                    @Html.ValidationMessageFor(model => model.Nome)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Cadastrar" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Voltar para Lista", "Index", null, new { @class = "btn btn-default" })
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>