@model IEnumerable<XamStore.Domain.Entities.Cadastro.Genero>
@{
    ViewBag.Title = "Cadastro de Gênero";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@Html.Partial("MenuAdmin");
<div class="content-right">
    <h2>Cadastro de Gênero</h2>
    <p>
        @Html.ActionLink("Novo Genero", "Cadastrar")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.Id }, null) |
                    @Html.ActionLink("Deletar", "Deletar", "Genero", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </table>
</div>