@{
    Layout = null;
}

@using XamStore.Domain.Entities.Operacao;
@using XamStore.Domain.Entities.Cadastro;
@{
    var relatorio = ViewBag.Filtros as Relatorio;
    var usuario = ViewBag.Usuario as Usuario;
    var vendas = ViewBag.Vendas as IEnumerable<Venda>;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>Exemplo de Relatório em PDF</title>
    <!-- css -->
    <link href="~/Content/estilos-relatorio.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="container">
        <div id="cabecalho">
            <div id="nome">
                <h1>Relatório de vendas</h1>
            </div>
            <div id="unidade">
                <h2>XamStore</h2>
                <h3>Emitida em:@Html.Raw(DateTime.Now.Date.ToString("dd/MM/yyyy")) às @Html.Raw(DateTime.Now.ToString("H:m:s"))</h3>
            </div>
        </div>
        <div id="corpo">
            <div class="linha">
                <p>
                    <span>Filtros:</span><br />
                    Data inicial : @Html.Raw(((DateTime)relatorio.DataInicial).ToString("dd/MM/yyyy"))<br />
                    Data final : @Html.Raw(((DateTime)relatorio.DataFinal).ToString("dd/MM/yyyy"))
                </p>
            </div>
            <div class="linha">
                <p>
                    Usuario:<br />
                    <span class="bold">@usuario.Nome</span>
                </p>
            </div>
            <div class="linha">
                <p>Vendas:</p>
                <table>
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Cliente</th>
                            <th>Data</th>
                            <th class="aling-right">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var venda in vendas)
                            {
                                var total = $"{venda.Pedido.Valor + venda.Pedido.Frete:C}";
                                <tr class="odd">
                                    <td>@Html.Raw(venda.Id)</td>
                                    <td>@venda.Pedido.Pessoa.Nome</td>
                                    <td>@venda.Data.ToString("dd/MM/yyyy")</td>
                                    <td class="aling-right">@total</td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            @{ var totalGeral = vendas.Sum(x => x.Pedido.Valor) + vendas.Sum(x => x.Pedido.Frete);}
                            <td colspan="3" class="bold">Total</td>
                            <td class="aling-right">@($"{totalGeral:C}")</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div id="rodape">
        </div>
    </div>
</body>
</html>
