@{
    ViewBag.Title = "Relatório de vendas";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model XamStore.Domain.Entities.Operacao.Relatorio
@Html.Partial("MenuAdmin");
<div class="col-md-8">
    <div class="content-right">
        @using (Html.BeginForm("Venda", "Relatorio", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h2>Relatório de Venda</h2>
                <hr/>
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.DataInicial, "Data Inicial:", htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.DataInicial, "dd/MM/yyyy", new {@class="form-control"})
                        @Html.ValidationMessageFor(model => model.DataInicial)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DataFinal, "Data Final:", htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.DataFinal, "dd/MM/yyyy", new {@class="form-control"})
                        @Html.ValidationMessageFor(model => model.DataFinal)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Gerar relatório" class="btn btn-default"/>
                    </div>
                </div>
            </div>
        }
        <div>
            @Html.ActionLink("Voltar", "Index", null, new { @class="btn btn-default"})
        </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>
